.weather {
    place-self: center;
    padding: 40px;
    border-radius: 10px;
    background-image: linear-gradient(45deg, #2f4680, #500ae4);
    display: flex;
    flex-direction: column;
    align-items: center;
}

.search-bar {
    position: relative;
    display: flex;
    align-items: center;
    padding: 15px 20px;
    border-radius: 10px;
    min-width: 400px;
}

.search-bar input {
    height: 50px;
    border: none;
    outline: none;
    padding-left: 20px;
    padding-right: 50px;
    border-radius: 30px;
    color: #000;
    background: #ffffff;
    font-size: 18px;
    flex-grow: 1;
}

.search-bar img {
    position: absolute;
    right: 35px;
    top: 50%;
    transform: translateY(-50%);
    width: 25px;
    height: 25px;
    cursor: pointer;
    filter: invert(100%);
}
.weather-icon{
    width: 150px;
    margin: 30px 0;
}
.temperature {
    color: white;
    font-size: 80px;
    line-height: 1;
}
.location {
    color: white;
    font-size: 40px;
}
.weather-data{
    width: 100%;
    margin-top: 40px;
    color: #fff;
    display: flex;
    justify-content: space-between;
}
.weather-data .col{
    display: flex;
    align-items: flex-start;
    gap: 12px;
    font-size: 22px;
}
.weather-data .col span{
    display: block;
    font-size: 16px;
}
.weather-data .col img{
    width: 26px;
    margin-top: 10px;
}